.color-grid-container {
  display: grid;
  grid-template-columns: auto repeat(9, 1fr); /* First column for color name, then 9 for shades */
  width: 100vw;
  margin: 0 auto;
}

.color-category-title {
  margin-bottom: 8px;
}

.color-swatches {
  display: grid;
  grid-template-columns: 1fr;
}

.color-name {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-right: 16px;
  grid-column: 1;
}

.color-swatch {
  aspect-ratio: 1/1; /* Makes each cell a square */
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.color-swatch:hover {
  transform: scale(1.05);
  z-index: 1;
  border-radius: 5px;
}

.color-swatch.copied {
  animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.light-text:hover {
  color: #ffffff;
}

.dark-text:hover {
  color: #000000;
}

/* Hide text by default, show on hover */
.color-swatch span {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.color-swatch:hover span {
  opacity: 1;
}
