ul,
ol {
  list-style-type: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container {
  display: flex;
}

.list {
  width: 200px;
  padding-right: 20px;
}

.preview {
  flex-grow: 1;
}

iframe {
  width: 100%;
  height: 100vh;
  border: 1px solid #ccc;
}
