:root {
  --dist-x: 65px;
  --dist-y: 65px;
}

body {
  height: 100vh;
  margin: 0;
  background: #fcfaf7;
}

.blobs {
  filter: url('#goo');
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.blob {
  background: #b94f46;
  position: absolute;
  border-radius: 100%;
  translate: -50% -50%;
}
